body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #e9decd;
    margin: 50px;
}

.menu {
    list-style-type: none;
    padding: 10px;
    display: block;
}

.menu li {
    margin: 10px;
    display: inline;
}

ul {
    display: inline-block;
    align-items: center;
}

h1 {
    text-align: center;
    color:darkviolet
}

h2 {
    text-align: center;
    color: deeppink;
}

h3 {
    color: orange;
}

.products-list li {
    list-style-type:none;
}

img {
    width: 50%;
}

div.polaroid {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 0 auto 25px auto; */
    margin: 25px auto;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}